/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Inter";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea{
  font-family: "Inter";
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  font-weight: 400;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, h4, h5 {
  font-family: 'Inter';
  font-weight: 700;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary);
  color: var(--text);
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: var(--accent);
} 

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

:root[data-theme="light"] {
  --text: #000000;
  --background: #ffffff;
  --primary: #56a8d7;
  --secondary: #ababab;
  --accent: #c27100;
}

:root[data-theme="dark"] {
  --text: #ffffff;
  --background: #000000;
  --primary: #287aa9;
  --secondary: #545454;
  --accent: #ffae3d;
}

/* Example usage in your components */
:root {
  background-color: var(--background);
  color: var(--text);
}

/* .accent-element {
  background-color: var(--accent);
} */

/* 
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--secondary);
  border-radius: 5px;
  border: 1px solid var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 5px;
  margin: 5px;
  width: 5px;
  transition: background 0.3s ease, color 0.3s ease;
}
*/
 
/* ::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
} */